body {
  height: 100vh;
  background: #050510;
  background-color: #050510;
  color: white;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.gradient-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-image: linear-gradient(
    var(--direction, 0),
    var(--from),
    var(--to)
  );
}

.fancy {
  --direction: 135deg;
  --from: #e44141;
  --to: #4f2af3;
}

.medium {
  font-size: 1.3rem;
}
